.logo {
    background: rgb(191,210,85);
    background: -moz-linear-gradient(-45deg, rgba(191,210,85,1) 0%, rgba(114,170,0,1) 100%, rgba(158,203,45,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(191,210,85,1) 0%,rgba(114,170,0,1) 100%,rgba(158,203,45,1) 100%);
    background: linear-gradient(135deg, rgba(191,210,85,1) 0%,rgba(114,170,0,1) 100%,rgba(158,203,45,1) 100%);
        
}

.navbar {
    background: rgb(41,154,11);
    background: -moz-linear-gradient(-45deg, rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
    background: linear-gradient(135deg, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=1 );
    a{
        font-size: 1.5em;
        color: #FFFFFF;
    }
}

.awocard{
    margin-top: -50px;
}